# 博客类型 wordpress | typecho
# Blog type: wordpress | typecho
MY_BLOG_TYPE="typecho"

# 博客安装目录
# Blog installation directory
MY_BLOG_PARENT_DIR="/opt/myblog"

# 博客使用域名
# Blog domain name
MY_BLOG_DOMAIN="blog.domain.com"

# 数据库密码
# Database password
MYSQL_PASSWORD="d123b456"

# 数据库名
# Database name
DB_NAME="myblogDB"

# 是否使用 ssl 证书
# Whether to use SSL certificate
ENABLE_SSL=true

# 证书路径
# Certificate path
SSL_CER_PATH="/tmp/ssl/domain.cer"
SSL_KEY_PATH="/tmp/ssl/domain.key"
